Repository Zyruks/FIFO-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js, manypkg fix

.lintstagedrc:

{
  "src/**/*.{js,ts,jsx,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --fix --config ./eslint.config.js"
  ],
  "package.json": ["manypkg fix"]
}

chore(prettier): ✨ add Prettier config and ignore files
  .prettierignore
  prettier.config.mjs
Due: none

chore(tailwind): 🌈 add Tailwind CSS configuration with custom theme
  tailwind.config.ts
Due: none

chore(config): 🔧 update Vite config and tsconfig for path aliases
  tsconfig.app.json
  vite.config.ts
Due: none

chore(deps): 📦 update package.json with new scripts and dependencies
  package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(postcss): ✨ add PostCSS configuration
  postcss.config.js
Due: none

chore(html): ✨ update title in index.html to 'FIFO APP'
  index.html
Due: none

chore(vscode): 🛠️ add VSCode settings and recommended extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(gitignore): ✨ update .gitignore
  .gitignore
Due: none

feat(components): ✨ add Button component with size and variant support
  src/components/Button/Button.tsx
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(components): ✨ add Header component with theme toggle and logout
  src/components/Header/Header.tsx
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(inputs): ✨ add TextInput component with customizable states
  src/components/Inputs/TextInput/TextInput.tsx
  src/components/Inputs/index.ts
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(common): ✨ add constants for themes, form states, and regex pattern
  src/common/constants/generals.ts
  src/common/constants/index.ts
  src/common/constants/inputs.ts
  src/common/constants/regexPatterns.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(hooks): ✨ add useEventCallback for stable event handlers
  src/common/hooks/index.ts
  src/common/hooks/useEventCallback/useEventCallback.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(hooks): ✨ add useEventListener for managing DOM events
  src/common/hooks/index.ts
  src/common/hooks/useEventListener/useEventListener.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(hooks): ✨ add useIsomorphicLayoutEffect for server-safe effects
  src/common/hooks/useIsomorphicLayoutEffect/useIsomorphicLayoutEffect.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(hooks): ✨ add useLocalStorage hook for persistent state management
  src/common/hooks/index.ts
  src/common/hooks/useLocalStorage/useLocalStorage.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(types): ✨ add Input interface for standardized input properties
  src/common/types/index.ts
  src/common/types/input.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(utils): ✨ add cn utility for merging and combining class names
  src/common/utils/cn.ts
  src/common/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(utils): ✨ add validatePattern utility for regex-based validation
  src/common/utils/index.ts
  src/common/utils/validation.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(layouts): ✨ add BaseLayout with Header and dynamic content
  src/layouts/BaseLayout.tsx
  src/layouts/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

refactor: 💥 remove component for a cleaner structure
  src/App.css
  src/App.tsx
  src/index.css
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(api): ✨ add Firebase configuration and initialization
  src/api/firebase.ts
  src/api/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(constants): ✨ add FirebaseAuthErrorCodes and error messages
  src/common/constants/firebaseErrors.ts
  src/common/constants/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(forms): ✨ add LoginForm component with email validation
  src/components/Forms/LoginForm/LoginForm.tsx
  src/components/Forms/index.ts
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(queue): ✨ add Queue component with item management and FIFO logic
  src/components/Queue/Queue.tsx
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(app): ✨ add App component with authentication
  src/app/App.tsx
  src/app/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(styles): ✨ add SCSS structure with base and vendor styles
  src/styles/base/_general.scss
  src/styles/base/_index.scss
  src/styles/main.scss
  src/styles/vendors/_index.scss
  src/styles/vendors/_tailwind.scss
Due: none

feat(context): ✨ add AuthContext for authentication state management
  src/common/context/AuthContext.tsx
  src/common/context/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(context): ✨ add QueueContext for managing
  src/common/context/QueueContext.tsx
  src/common/context/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(context): ✨ add ThemeContext for managing and applying themes
  src/common/context/ThemeContext.tsx
  src/common/context/index.ts
  src/common/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(app): ✨ initialize main.tsx with providers and App component
  src/main.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(queue): ✨ enhance Queue component
  src/components/Queue/Queue.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(icon): ✨ add Icon component and iconCatalog for SVG icons
  src/components/Icon/Icon.tsx
  src/components/Icon/iconCatalog.ts
  src/components/Icon/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat: update colors and animation easing
  src/app/App.tsx
  src/components/Button/Button.tsx
  src/components/Header/Header.tsx
  src/components/Inputs/TextInput/TextInput.tsx
  src/components/Queue/Queue.tsx
  src/components/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(login-form): update dark mode
  src/components/Forms/LoginForm/LoginForm.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

feat(app): enhance layout structure and improve responsiveness
  src/app/App.tsx
  src/components/Queue/Queue.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

fix(eslint): reorder globals import and remove unused rule
  eslint.config.js
Due: none

chore(deps): reorganize dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor(context): ♻️ improve QueueContext with optimized Firestore sync
  src/common/context/QueueContext.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js

refactor(queue): ♻️ add loading state and improve queue item rendering
  src/components/Queue/Queue.tsx
Due: prettier --write --ignore-unknown, eslint --fix --config ./eslint.config.js
